.post-render-feed-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.post-render-feed-left > * {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
    width: 100%;
}

.post-render-feed-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.post-render-feed-right > * {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
    width: 100%;
}